

body {
    margin: 0;   
   background: #FAFAFA;
}



/*Grid*/

.contenedorgrid {
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 700px 100px;
    row-gap: 50px;


}

nav{ 
    margin:0px;
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
   
    }
.nav
{
    grid-column: 1/4;
}


footer {
    grid-area: footer;  
    grid-row: 3/4;

}


nav h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}

nav input {
    display: none;
    width: 400px;
    height: 40px;
    background: #FAFAFA;
    border: 0.3px solid #222222;
    border-radius: 5px;
}

input:hover{
    border-color: fuchsia;
    letter-spacing: .5rem;
    color: #fff;
}

.perfil {
    border-radius: 50%;
    width: 50px;
    height: 49px;

    

}

.barra{
    border: 0.4px solid rgba(34, 34, 34, 0.5);
    border-radius: 5px;
    width: 400px;
    height: 100px;
    margin:10px;
    align-self: center;

}

.barra img{
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    padding: 4.2%;
   
}

.titulo{
    width: 400px;
    height: 67px;
    background: #FFFFFF;
    border: 0.4px solid rgba(34, 34, 34, 0.5);
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: row;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #262626;
    position: relative;
    display: flex;
}

.titulo img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.iconos{
    padding: 10px;
}
.comentarios{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
    padding: 10px;
}

main{
    align-self: center;
    justify-self: center;
}

.principal {
    
    background: #FFFFFF;
    border: 0.4px solid rgba(34, 34, 34, 0.5);
    border-radius: 5px;
    width: 400px;
    height: 700px;
    align-self: center;
    justify-self: center;
    justify-items: center;
    margin: 10px;
}

.foto{
    width: 75%;
    padding: 5px;

   
}


/*sidebar */

.sidebar{
    display: none;
}

.sidebar a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
}

.sidebar p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    color: #1CA0F6;
 
}

.sidebar img  {
    border-radius: 50%;
}



footer p{

    width: 100%;
    height: 30px;
    background: #222222;
    color: #FAFAFA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}




/* Media query desktop*/

@media (min-width: 1001px) {

  .contenedorgrid {

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px 700px 100px;
    grid-template-areas: 
    "nav nav"
   " main side"
   "footer footer";
  
  }

nav {
    
    width: 100%;
    grid-column: 1/span2;
    grid-area: nav;
  
}

h1 {
    justify-self: left;
}
nav input {
    display: block;

  }

nav{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

.perfil{
    justify-self: right;
}
.foto{
    width: 98%;
}


.sidebar {

    display:block;
    grid-column: 2/3;
    grid-row: 3/4;
    grid-area: side;
}

main {
   grid-column: 2/3;
   align-self: center;
   justify-self: center;
   justify-content: center;
   justify-items: center;
   grid-area: main;

}


.abril p{
    margin-left: 100px;

}

.jonathan p{
    margin-left: 90px;

}
.gabriela p{
    margin-left: 100px;

}



.abril {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    width: 40px;

    
}

.abril img {
    width: 60px;
    margin: 5px;
}


.jonathan {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;

    
}
.jonathan img {
    width: 40px;
}

.gabriela {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    
}

.gabriela img{
    width: 40px;
}
.footer {
    
    grid-column: 1/4;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;

}

}